
body {
	background-color: lightgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
	float:left;
}

li a:hover {
	background-color: #111;
	text-decoration: none;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	font-family: "Arial";
	padding: 14px 16px;
	font-weight: bold;
}


div.title {
	position: relative;
	font-family:"Verdana";
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

div.footer {
	position: relative;
	top:30px;
	text-align: center;
}

p.post {
	position: relative;
	top: 30px;
	left: 45px;
	font-size: 16px;
	word-wrap: break-word;
	width: 90%;
	text-align: justify;
}

div.container {
	background-color: white;
}

table.ed-ul {
	width:90%;
}

td {
	padding: 5px;
}

.blank_row {
	height: 10px !important;
	background-color:#FFFFF;
}